@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --button-height: 2rem;
    --button-color: #edd;
}

body {
    margin: 0;
    color: white;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#instructions {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.75);
}

#results {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.75);
    font-size: 1.2rem;
}

#result {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border: 0.2rem solid var(--button-color);
    border-radius: 50%;
    filter: drop-shadow(0 0 3.1rem rgba(255,255,255, 0.8));
    cursor: pointer;
}

.play {
    height: 0;
    width: 0;
    margin-left: 25px;
    /*margin-left: 17px;*/
    background: none;
    border: none;
    border-top: var(--button-height) solid transparent;
    border-bottom: var(--button-height) solid transparent;
    border-left: calc(var(--button-height) * 2 * 0.86) solid var(--button-color);
    cursor: pointer;
}

/* .content p {
    font-size: 2rem;
} */

#text {
    position: absolute;
    color: white;
    font-size: 1em;
    bottom: 10px;
    left: 20px;
}

#settings {
    position: absolute;
    color: white;
    font-size: .8rem;
    bottom: 20px;
    right: 20px;
}

a:visited {
    color: inherit;
}

#results {
    display: none;
    cursor: default;
}

#results .content,
#instructions .content {
    max-width: 300px;
    /* padding: 50px; */
    border-radius: 20px;
}

#score {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    top: 30px;
    right: 30px;
    z-index: -10;
}

#title {
    margin-right: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

#loader_progress {
    margin-left: 20px;

    width: 80%;
}

#credits {
    margin-left: 120px;

    font-size: 1.1rem;
}

@media only screen and (max-width: 680px) {
    img {
        height: 150px;
    }

    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    canvas {
        max-width: 100%;
        max-height: 100%;
    }

    #instructions {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #text {
        font-size: .55rem;
        bottom: 40px;
    }

    #results {
        padding-top: 10vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    #result {
        margin: 0;
        font-size: .75rem;
    }

    .player {
        margin-top: 5vh;
    }

    #credits {
        margin: 5vh 0;
        font-size: .75rem;
    }

    #score {
        font-size: 2rem;
    }
}